#section1 {
  background: url('../images/slide_1.jpg') no-repeat center;
  background-size: cover;
}

#section2 {
  background: url('../images/slide_2.jpg') no-repeat center;
  background-size: cover;
}

#section3 {
  background: #f6f8f9;
}

#section4 {
  background: #fef0ee;
}

#section5 {
  background: url('../images/slide_5.jpg') no-repeat center;
  background-size: cover;
}

#section6 {
  background: url('../images/slide_6.jpg') no-repeat center;
  background-size: cover;
}

#section7 {
  background: url('../images/slide_7.jpg') no-repeat center;
  background-size: cover;
}

#section8 {
  background: url('../images/slide_8.jpg') no-repeat center;
  background-size: cover;
}

#section9 {
  background: #e5eff0;
}

.flex-slide {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  widows: 100%;
  height: 100vh;
  padding: 20px;
  padding-top: 120px;
  overflow-y: auto;
  &_center {
    align-items: center;
  }
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-10px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.main-title {
  display: block;
  margin-bottom: 20px;
  color: #3c3c3c;
  font-family: Arctikascript;
  font-size: 62px;
  font-weight: 400;
  text-align: center;
}

.top-logo {
  max-width: 100%;
}

.top-title {
  color: #ffffff;
  font-family: Arctikascript;
  font-size: 74px;
  font-weight: 400;
  text-align: center;
}

.top-bottom {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  span {
    display: block;
    margin-bottom: 25px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 400;
  }
  img {
    display: block;
  }
  &:hover {
    text-decoration: none;
  }
}

.arrow-bottom {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  span {
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
  }
  img {
    display: block;
  }
  &:hover {
    text-decoration: none;
  }
}

.why-text {
  max-width: 780px;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.why-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.why-features__card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  img {
    display: block;
    width: 160px;
    height: 160px;
    object-fit: contain;
    object-position: center;
  }
  span {
    width: 405px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 400;
  }
}

.gallery-block {
  display: flex;
  flex-flow: row wrap;
  img {
    display: inline-block;
    width: 260px;
    height: 250px;
    margin: 0 18px 18px 0;
    object-fit: cover;
    object-position: center;
  }
}

.pay-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 185px;
    margin: 0 3px;
    padding: 10px;
    box-shadow: 0 5px 43px rgba(76, 76, 76, 0.55), inset 0 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    text-align: center;
    img {
      max-width: 100%;
      margin-bottom: 15px;
    }
    span {
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.banks-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  &__card {
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 185px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 0 11px 38px rgba(50, 6, 0, 0.14);
    border-radius: 3px;
    border: 3px dotted #fefbfb;
    background-color: #ffffff;
    overflow: hidden;
    text-align: center;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 36px;
      height: 1px;
      top: 80px;
      left: 72px;
      background-color: #c8c8c8;
    }
    img {
      display: block;
      position: relative;
      width: 100%;
      height: 78px;
      object-fit: contain;
      object-position: center;
    }
    p {
      margin-top: 30px;
      color: #6a6a6a;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }
    span {
      color: #2f2f2f;
      font-family: "Open Sans";
      font-size: 36px;
      font-weight: 300;
    }
  }
}

.about-text {
  max-width: 820px;
  text-align: center;
  color: #595959;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
}

.about-facts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 10px;
    text-align: center;
    span {
      display: block;
      color: #e94e1b;
      font-family: Arctikascript;
      font-size: 72px;
      font-weight: 400;
    }
    p {
      margin: 0;
      color: #3c3c3c;
      font-family: Arctikascript;
      font-size: 36px;
      font-weight: 400;
    }
  }
}

.flats-card {
  display: inline-flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 494px;
  padding: 15px 15px 30px 15px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffffff;
  &__zoom {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all 0.2s ease-out;
    img {
      max-width: auto;
      object-fit: contain;
      transition: all 0.2s ease-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    object-fit: contain;
    object-position: center;
    transition: all 0.2s ease-out;
  }
  &__title {
    display: block;
    width: 100%;
    height: 28px;
    overflow: hidden;
    margin-bottom: 35px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    strong {
      opacity: 0.9;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 600;
    }
    span {
      opacity: 0.75;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
    }
  }
  &__order {
    display: block;
    padding: 18px 54px;
    border-radius: 26px;
    background-color: #e94e1b;
    color: #fefefe;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: 0 10px 57px rgba(233, 78, 27, 0.47);
      color: #fefefe;
      text-decoration: none;
    }
  }
}

#owl-full .item img {
  display: block;
  width: 100%;
  height: 570px;
  object-fit: contain;
  object-position: center;
}

#owl-full {
  .owl-theme .owl-controls .owl-page span {
    background: #d1d1d1;
  }
}

.contact-text {
  display: block;
  max-width: 570px;
  margin: 10px auto 60px auto;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.contact-warn {
  display: block;
  max-width: 770px;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-flow: column nowrap;
   ::-webkit-input-placeholder {
    color: #000000;
  }
   ::-moz-placeholder {
    color: #000000;
  }
  /* Firefox 19+ */
   :-moz-placeholder {
    color: #000000;
  }
  /* Firefox 18- */
   :-ms-input-placeholder {
    color: #000000;
  }
  a {
    display: block;
    margin-top: 25px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  &__time {
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      margin: 0 30px;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__switch {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      display: inline-flex;
      flex-flow: row nowrap;
      margin-right: 15px;
      label {
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 700;
      }
      input[type=radio]~label {
        color: #e94e1b;
        border-bottom: 2px dashed rgba(0, 0, 0, 0.47);
        cursor: pointer;
      }
      input[type=radio]:checked~label {
        color: #68a20d;
        border-bottom: 2px solid transparent;
      }
    }
    input[type='radio'] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 30px;
      cursor: pointer;
    }
  }
  input {
    display: inline-block;
    width: 353px;
    margin: 0px 8px 35px 8px;
    padding: 22px 33px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 300;
  }
  button {
    display: block;
    margin-top: 20px;
    padding: 20px 125px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #e94e1b;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.main-header {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  background-color: #ffffff;
  z-index: 999;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    &:hover {
      text-decoration: none;
    }
    img {
      max-width: 100%;
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__order {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin: 0 50px;
  }
  &__number {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 400;
  }
  &__call {
    display: block;
    color: #e94e1b;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__nav {
    img {
      max-width: 100%;
      transition: all 0.2s ease-out;
    }
  }
}

.slide-nav {
  display: none;
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 150px 250px auto 75px;
  top: 0;
  right: 0;
  background: #ffffff;
  transition: all .3s ease-in-out;
  overflow-y: auto;
  z-index: 990;
  li {
    display: inline-block;
    a {
      display: block;
      padding: 10px 250px 10px 75px;
      color: #3c3c3c;
      font-family: Arctikascript;
      font-size: 36px;
      font-weight: 400;
      transition: all .15s ease-in-out;
      &:hover {
        color: #e94e1b;
        text-decoration: none;
      }
    }
  }
  &_active {
    display: flex;
    flex-flow: column nowrap;
    padding: 150px 250px auto 75px;
  }
}

.popup-win {
  display: none;
  position: absolute;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(45, 45, 45, 0.95);
  z-index: 9999;
  &_active {
    display: flex;
  }
  &__content {
    position: relative;
  }
  &__close {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    transition: all 0.2s ease-out;
    &:hover {
      transform: rotate(180deg);
    }
  }
  a {
    text-decoration: none;
  }
  .main-title {
    color: #ffffff;
  }
  .contact-text {
    color: #ffffff;
  }
  .contact-form__time span {
    color: #ffffff;
  }
  a:last-child {
    color: #ffffff;
    text-decoration: underline;
  }
}