.container:before {
  display: none;
  content: none;
}

.container:after {
  display: none;
  content: none;
}

.nav-tabs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: none;
}

.nav>li>a {
  padding: 0;
  padding-bottom: 5px;
  margin: 12px 30px;
}

.nav-tabs>li>a {
  border: none;
  border-radius: 0;
  border-bottom: 1px dashed #e9ba00;
  background: transparent;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  padding: 10px 20px;
  margin: 0 30px;
  border: none;
  border-radius: 999rem;
  background-color: #e9ba00;
  color: #fefefe;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
}

.owl-theme .owl-controls .owl-page span {
  width: 10px;
  height: 10px;
}

.owl-buttons {
  display: flex;
  margin-top: -300px;
  margin-left: -30px;
  margin-right: -30px;
  justify-content: space-between;
  align-items: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.owl-theme .owl-controls .owl-buttons div {
  opacity: 1;
}