@media (max-width: 1400px) {
  .main-header {
    padding: 20px 0;
  }
  .flats-card {
    width: 200px;
    height: 350px;
    justify-content: flex-start;
  }
  .flats-card__row {
    margin-bottom: 10px;
  }
  .flats-card__order {
    padding: 12px 24px;
    border-radius: 999rem;
  }
  .flats-card__img {
    height: 120px;
  }
  .flats-card__title {
    margin-bottom: 15px;
  }
  .gallery-block img {
    width: 140px;
    height: 140px;
  }
  #owl-full .item img {
    height: 350px;
  }
  .main-title {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .nav-tabs {
    margin-bottom: 10px;
  }
  .banks-block__card {
    width: 140px;
    height: 140px;
    justify-content: flex-start;
  }
  .banks-block__card p {
    margin-top: 10px;
  }
  .banks-block__card span {
    font-size: 24px;
  }
  .banks-block__card:after {
    display: none;
  }
  .banks-block__card img {
    height: 35px;
  }
  .contact-form__switch li {
    margin-right: 10px;
  }
  .contact-form__switch li:last-child {
    margin-right: 0;
  }
  .contact-form__switch li label {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .top-logo {
    img {
      max-width: 100%;
    }
  }
  .owl-carousel {
    max-width: 300px;
  }
  .contact-form button {
    padding: 20px 80px;
  }
  .why-features__card span {
    width: auto;
  }
  .banks-block {
    justify-content: space-around;
  }
  .hide-xs {
    display: none !important;
  }
  .top-title {
    font-size: 32px;
  }
  .top-bottom {
    display: none;
  }
  .arrow-bottom {
    display: none;
  }
  .main-title {
    font-size: 32px;
  }
  .contact-form input {
    width: 250px;
    padding: 12px 24px;
  }
  .about-facts__card span {
    font-size: 42px;
  }
  .about-facts {
    justify-content: space-around;
  }
  .gallery-block {
    justify-content: space-around;
  }
  .pay-block__card {
    margin: 10px;
  }
  .top-title {
    text-align: center;
  }
  .slide-nav li a {
    font-size: 28px;
    padding: 15px;
  }
  .main-header .container {
    flex-flow: column nowrap;
    align-items: center;
  }
  .main-header {
    padding: 10px 0;
  }
  #section5 {
    display: none;
  }
  .owl-buttons {
    margin-top: -250px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .flats-card {
    width: 250px;
    margin: 20px;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}

@media (max-width: 1000px) {
  .top-bottom {
    display: none;
  }
  .arrow-bottom {
    display: none;
  }
  .flex-slide {
    height: auto !important;
  }
  .fp-tableCell {
    height: auto !important;
  }
}