// bower:scss
// endbower
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #575757;
}

@font-face {
  font-family: Arctikascript;
  src: url('../fonts/Arctikascript.ttf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url('../fonts/ProximaNovaRegular.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url('../fonts/ProximaNovaLight.otf');
}

@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";